.btn-outline-primary {
    color: #FF6F0F;
}


.container {
    padding-top: 400px;
}

.pic {
    background: linear-gradient(rgba(7, 2, 42, 0.5) 0%, rgba(2, 0, 37, 0.5) 100%), url('../images/carousel-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-image: url('../images/courses-1\ \(1\).jpg');
}
.nav-item a {
    border-color: #FF6F0F;
    color: white;
}

.navbar .nav-link.active {
    color: #FF6F0F;
}

li a:hover{
    background-color: aqua;
}

.num1 img {
    height: 500px;
    width: 500px;
    margin-top: 200px;
    margin-left: 100px;
}

.num2 img {
    height: 200px;
    width: 200px;
    margin-left: 400px;
}

.container1 {
    padding-top: 100px;
    color: #FF6F0F;
}

.back {
    background-color: rgb(248, 202, 238);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.col {
    text-align: center;
}

.blur {
    background: linear-gradient(rgba(7, 2, 42, 0.5) 0%, rgba(2, 0, 37, 0.5) 100%), url(../images/donate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}
.container3{
    padding-left: 200px;
    
}
.container5{
    background-color: rgb(249, 218, 218);
}
.letter button{
    background-color: #ff6f2b;
            color:white;
            border-radius: 5px;
            border-color: #FF6F0F;
}
.footer{
    background-color: rgb(51, 50, 50);
    height: 300px;
}
.container5{
    height: 50vh;
}
.main-image {
    border-radius: 15px;
    width: 50%;
    height: 50vh;
    margin-top: 150px;
}
.small-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    position: absolute;
    margin-top: 100px;
    right: 1100px;
    border: 3px solid #fff;
}
.pic1{
    background: linear-gradient(rgba(9, 39, 19, 0.5) 0%, rgba(11, 26, 16, 0.5) 100%), url("../images/carousel-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
}
.container9 {
    padding-top: 200px;
}
.container10{
    padding-top: 100px;
}
